# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# IDE / Editor specific files
.idea/
.vscode/

# Secrets and environment variables
.env
*.env

# Build artifacts
build/
dist/
*.egg-info/

# Log files
*.log
